@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);
@import url(http://fonts.googleapis.com/css?family=EB+Garamond);
/* CSS Document */


h1,h2,h3,h4,h5,h6,ul
{
	margin:0;
	padding:0;
}

a 
{
text-decoration: underline;
color: rgba(0,161,222,1);
-webkit-transition: all .3s linear;

}

* 
{
outline-color: transparent;
}


a:link, a:visited, a:active, a:hover {
    color: #666;
	text-decoration:none;
	
}



img{
	border:0px;
	outline:none;
}

.clear
{
	clear:both;
}
/*Body GLobal */
body
{ 
	font-family: 'Open Sans',Arial,sans-serif;
	margin:0px;
	padding:0px;
	background-color:#f4f4f4;
	
}

#confirmation
{
	line-height: 22px;
    color: #666;
    font-family: "Open Sans",Arial,sans-serif;
    margin-top: 20px;
    font-size: 14px;
}

#header
{

position:relative;
width : 100%; 
z-index:999;
} 

#global-header
{
	height:75px;
    background: #fff;
	background-repeat:repeat;
	position:relative;
	width:100%;
    margin: 0 auto;
    border-bottom: 1px solid #F4F4F4;
}


#logo {
width: 25%;
min-height: 10px;
float: left;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}

#logo img{
	margin-top:25px;
	margin-bottom:25px;
	margin-left:30px;
	float:left;
	position:absolute;
}


div #search{
	padding: 0 1px 0 0;
	display: block;
	margin-left:33.7%;
}
#search #q
{
	background: #e5f6fc;
width: 25%!important;
font-size: 18px;
background: #e5f6fc;
border: 1px solid #b2e3f5;
line-height: normal;
font-weight:300;
display: block;
border-top-left-radius: .3em;
border-bottom-left-radius: .3em;
-webkit-border-top-left-radius: .3em;
-webkit-border-bottom-left-radius: .3em;
-moz-border-radius-topleft: .3em;
-moz-border-radius-bottomleft: .3em;
color: #333;
padding: .5em 12% .5em 2%;
max-height: 25px;
	margin-top:16px;
	float:left;
	
}
*:focus {
    outline: none;
} 
#search #submit{
	background:url('../img/zoom.jpg');
	background-position:0;
	background-repeat:none;
	border: 1px solid #00a1de;
	border-left:0px;
    border-radius: 0 0.3em 0.3em 0;
    color: #333333;
    font-size: 20px;
	height:41px; 
	-webkit-height:44px; 
	float:left;
    font-size: 20px;
	cursor: pointer;
	width:36px;
	max-height: 42px;
	margin-top:11px;
	margin-left:3px;
}

#divtotal {
    margin-top: 1%;
    padding-left: 82%;
}

*:focus {
    outline: none;
} 
#search #submit{

	background:url('../img/zoom.jpg');
	background-position:0;
	background-repeat:none;
	border: 1px solid #00a1de;
	border-left:0px;
    border-radius: 0 0.3em 0.3em 0;
    color: #333333;
    font-size: 20px;
	height:41px; 
	-webkit-height:44px; 
	float:left;
    font-size: 20px;
	cursor: pointer;
	width:36px;
	max-height: 42px;
	margin-top:16px;
	margin-left:3px;

}
#navigation
{
	float:right;
	position:relative !important;
	margin-top:34px;
	margin-bottom:10px;
	font-family: 'Open Sans',Arial,sans-serif;
	
}

#navigation ul li
{
	display:inline;
    margin: 0px 24px 0px 0px;
	color:#00a1de;
	font-size:18px;
	width:100%;
}

#navigation ul li a
{
color:#00a1de;
text-decoration:none;

}

#navigation ul li a:hover, #navigation ul li a:active
{
color:#000;
text-decoration:none;
}

#sousmenuCarrieres, #sousmenuSecteurs, 
#sousmenuServices
{
  display : none;
  text-align: center;
  position: absolute;
  width: 100%;
  left: 0;
  top:75px;
  background: #404040;
  padding-top:30px;
  padding-bottom:10px;
  font-size:13px;
}

#sousmenuCarrieres ul li, #sousmenuSecteurs ul li, #sousmenuServices ul li
{
	display:inline-block;
	color:#ffffff;
	text-align:center;
	margin-left : 10px;
	margin-right : 10px;
	margin-bottom:24px;
	font-size:13px;
}

#sousmenuCarrieres ul li a, #sousmenuSecteurs ul li a, #sousmenuServices ul li a
{
  background-attachment: scroll;
  background-clip: border-box;
  background-color: #393939!important;
  background-image: none;
  background-origin: padding-box;
  background-position: 0 0;
  background-repeat: repeat;
  background-size: auto auto;
  border-radius: .3em 0 0 .3em;
  box-shadow: 1px 1px 2px #101010;
  color: #72c7e7;
  margin: 0 0 .4em;
  padding: .4em ;
  position: relative;	
  text-decoration:none;
}



#global
{
	width:100%;
}

#error_captcha {background-color:#fc7272;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;color:#FFF;font-size: 11px;padding:10px;text-align:center;display:none;opacity:0;margin-top:45px;margin-bottom:-30px;}
#error_captcha p{color:#FFF;font-size: 11px;margin:0px;}
#success{text-align:center;background-color:#eafcc2;-webkit-border-radius: 6px;-moz-border-radius: 6px;border-radius: 6px;padding:20px;margin-top: 25px;margin-bottom: 25px;position:relative;display:none;opacity:0;}
#success h1{color:rgb(87, 87, 87);font-size:27px;font-weight: 300;line-height: 43px;letter-spacing:-1px;}
#success img{padding:15px;display:block;margin:auto;max-width:100%;}

#success object{width:100%;height:650px;margin-top:20px;}

#pdf_viewer{
	display:none;
	opacity:0;
	position:absolute;
	top:0;
	z-index:999999;
	width:100%;
	height:100vh;
	}
	
#pdf_viewer iframe{
	border:none;
	margin:0;
	padding:0;
	width:100%;
	height:100%;
	}
	
#btn_close_viewer {
	text-decoration:none;
	color:rgba(255,255,255,1.00);
	background-color:#f93636;
	padding:7px;
	-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;
	display:block;
	width:80px;
	position:absolute;
	top: 40px;
	right:70px;
	text-align:center;
	cursor:pointer;
	font-size:12px;
	font-weight:600;
	}

.btn_form {
	padding: 15px;
	color: #FFF!important;
	background-color:#92d400;
	transition: all .2s linear;
	-webkit-transition: all .3s linear;
	border-radius: 4px;
	border:none;
	font-weight: 400!important;
	font-size:20px;
	text-decoration: none;
	display: inline-block;
	text-align: center;
	cursor:pointer;
	margin-top:10px;
	padding-left:62px;
	padding-right:30px;
	background-image:url(../img/reopen_doc_small.png);
	background-repeat:no-repeat;
	background-position: 22px 16px;
}

.btn_form:hover {
	background-color:#3c8a2e !important;
}

.btn_form_hover {
	background-color:#3c8a2e !important;
}

.reopen_doc_icon {text-align:center;}

.reopen_doc_icon img{
	display:block;
	margin:auto;
	-webkit-transition: all 0.4s; 
	-moz-transition: all 0.4s; 
	-ms-transition: all 0.4s; 
	-o-transition: all 0.4s; 
    transition: all 0.4s; 
	-webkit-transform:scale(0.6);
	transform:scale(0.6);
	cursor:pointer;
	}
	
.reopen_doc_icon img:hover {
	-webkit-transform:scale(0.7);
	transform:scale(0.7);
	-moz-transform: rotate(12deg);
	-webkit-transform: rotate(12deg);
	-o-transform: rotate(12deg); /*opera*/
	transform: rotate(12deg); /*likely future standard*/
	filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=0.1);
	}

.anim_reopen_doc_icon {
	-webkit-transform:scale(0.7) !important;
	transform:scale(0.7) !important;
	-moz-transform: rotate(12deg) !important;
	-webkit-transform: rotate(12deg) !important;
	-o-transform: rotate(12deg) !important; /*opera*/
	transform: rotate(12deg) !important; /*likely future standard*/
	filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=0.1) !important;
	}


.btn_form_green {
	padding: .5em 2em;
	font-size: 1.1em;
	color: #fff !important;
	background: #92d400;
	background: -moz-linear-gradient(top,#a8dd33 0,#92d400 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#a8dd33),color-stop(100%,#92d400));
	background: -webkit-linear-gradient(top,#a8dd33 0,#92d400 100%);
	background: -o-linear-gradient(top,#a8dd33 0,#92d400 100%);
	background: -ms-linear-gradient(top,#a8dd33 0,#92d400 100%);
	background: linear-gradient(to bottom,#a8dd33 0,#92d400 100%);
	background-size: 100% 250%;
	border: solid 1px #92d400;
	transition: all .3s linear;
	-webkit-transition: all .3s linear;
	border-radius: 4px;
	font-weight: 700!important;
	text-decoration: none;
	display: inline-block;
	text-align: center;
	cursor:pointer;
	text-shadow: 1px 1px #76ab00;
	margin-top:10px;
	min-width:190px;
}

.btn_form_dark_blue {
	padding: .5em 2em;
	font-size: 1.1em;
	color: #fff !important;
	background: #002776;
	background: -moz-linear-gradient(top,#335291 0,#002776 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#335291),color-stop(100%,#002776));
	background: -webkit-linear-gradient(top,#335291 0,#002776 100%);
	background: -o-linear-gradient(top,#335291 0,#002776 100%);
	background: -ms-linear-gradient(top,#335291 0,#002776 100%);
	background: linear-gradient(to bottom,#335291 0,#002776 100%);
	background-size: 100% 250%;
	border: solid 1px #002776;
	transition: all .3s linear;
	-webkit-transition: all .3s linear;
	border-radius: 4px;
	font-weight: 700!important;
	text-decoration: none;
	display: inline-block;
	text-align: center;
	cursor:pointer;
	text-shadow: 1px 1px #002776;
	margin-top:10px;
}

#global-left center{

float: none;
width: 100%;
display: block;
}

#global-left {
    float: left;
    width: 50px;
    margin-top: 17px;
    position: fixed;
    z-index : 10;
}

.twitter-hover{
 background-image: url(../img/twitter-hover.png);
 }
 .linkedin-hover{
 background-image: url(../img/linkedin-hover.png);
 }
 .facebook-hover{
 background-image: url(../img/facebook-hover.png);
 }
 .email-sprite-hover{
 background-image: url(../img/email-sprite.png);
 }
 .google-hover{
 background-image: url(../img/google-hover.png);
 }
 .plus-hover{
 background-image: url(../img/plus-hover.png);
 }
 .social-slide {
	height: 38px;
	width: 38px;
	margin: 10px; 
	margin-top: 5px; 
	-webkit-transition: all ease 0.3s;
	-moz-transition: all ease 0.3s;
	-o-transition: all ease 0.3s;
	-ms-transition: all ease 0.3s;
	transition: all ease 0.3s;
	float:left;
	border-radius:5px;
}
.social-slide:hover {
	background-position: 0px -38px;
	box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.8);
	border-radius:5px;
}

#global-center{
width: 100%;
padding-bottom: 2em;
position: relative;
height: auto;
overflow: hidden;
max-width: 1070px;
margin: auto;
}
#main
{
	margin-top:20px;
	border-radius: .5em;
	box-shadow: 0 2px 2px rgba(0,0,0,0.3);
border-radius: 0 0 .5em .5em;
}
#banner 
{
	position:relative;
}

#banner img
{
	
margin: 0 auto;
width: 100%;
border-radius: .5em .5em 0 0;
max-height: 320px;
}


#blocContact 
{
	font-family: 'Open Sans', sans-serif;
	color:#002776;
	font-size:16px;
	font-weight:700;
	background-color:#FFF;
	padding:7px 5px;
    position :absolute;
	bottom : -4px;
	border-radius: 7px 7px 0px 0px;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
	width:160px;
	text-align:center;
}

#header-description{
	width: 86%;
padding: 3% 7%;
border-radius: 0 0 .5em .5em;
text-align: center;
background: #fff;
font-family: 'Open Sans', sans-serif;
font-size:18px;
font-weight:300; 
}


#header-description h1{
text-align:center;
color: #002776;
font-family: 'Open Sans', sans-serif;
font-size: 30px;
font-weight: 300;

}

#header-description h2{
margin-top:1%;
color: #81bc00;
font-family: 'Open Sans', sans-serif;
font-size: 28px;
font-weight: 300;
}

.center-content-simple {
    margin-top: 20px;
border-radius: 0.5em;
box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
background: none repeat scroll 0% 0% #FFF;
padding: 40px 8% 40px;
width: 84%;
color : #666;
}

.center-content-simple h3
{
	margin-top:30px;
	margin-bottom:30px;
}


.ok

 {
border: 1px solid #146212 !important;
 }

.er
{
border: 1px solid  red !important;
}

.left
{
	float:left;
	width:33.33%;
	font-size: 14px;
    line-height: 24px;
    color: #666;
	font-family: 'Open Sans',Arial,sans-serif; 
}

.left label
{
	
	margin-top: 0px;
	margin-bottom:10px !important;
	display: block;
	font-size: 14px;
    line-height: 24px;
    color: #666;
	font-family: 'Open Sans',Arial,sans-serif; 
	font-weight:bold;
	
	

}
.text-input{
background: 0;
border: 1px solid #D2D4CD;
border-radius: 3px; 
padding: 5px;
width: 97%;	
height:25px;
margin-top:0px;
margin-bottom:5px;

}

#divleft
{
	float : left;
	width : 46%;
	position : relative;
	margin-right : 8%;
}

#divright
{
	float : left;
	width : 46%;
	position : relative;

}


#somme
{
	
	padding-left : 66%;
	
	
}
#divleft1
{
	float : left;
	width : 34%;
	margin-right :6%;
	position : relative;
}
#divright1
{
	float : left;
	width : 58%;
	position : relative;
	
}


 #divleft > label, #divright > label , #divleft1 > label, #divright1 > label
{
	display: block;
	font-size: 14px;
    line-height: 24px;
    color: #666;
	font-family: 'Open Sans',Arial,sans-serif; 
    margin-bottom:20px;
	margin-top : 15px;
	font-weight:bold;
}


#recap
{
		font-size: 14px;
		line-height: 24px;
		color: #666;
		font-family: 'Open Sans',Arial,sans-serif; 
		
}

.captcha{
	text-align: center;
	padding-top:10px;
    }
.form_rightcol 
{
	text-align:center;
	/*margin-top:20px;*/
}
.envoyer {
padding: 15px;
color: #FFF!important;
background-color:#00a1de;
transition: all .2s linear;
-webkit-transition: all .3s linear;
border-radius: 4px;
border:none;
font-weight: 400!important;
font-size:20px;
text-decoration: none;
display: inline-block;
text-align: center;
cursor:pointer;
margin-top:40px;
padding-left:62px;
padding-right:30px;
background-image:url(../img/download_icon_small.png);
background-repeat:no-repeat;
background-position: 22px 16px;
} 

.envoyer:hover{background-color:#002776 !important;color:#FFF !important;}

.center-content
{	
margin: 20px auto;
border-radius: .5em;
background:#EBEBE9;
padding:40px; 
box-shadow: 0 2px 2px rgba(0,0,0,0.3); 
background-image: linear-gradient(59deg,#EBEBE9 50%,#F2F1EF 50%);
background-image: -o-linear-gradient(59deg,#EBEBE9 50%,#F2F1EF 50%);
background-image: -moz-linear-gradient(59deg,#EBEBE9 50%,#F2F1EF 50%);
background-image: -webkit-linear-gradient(59deg,#EBEBE9 50%,#F2F1EF 50%);
background-image: -ms-linear-gradient(59deg,#EBEBE9 50%,#F2F1EF 50%);
overflow:hidden;
}




input[type=checkbox]
{
	
	margin-right:7px;
	margin-top:13px;
}


form select
{
		color :#666;
		width:100%;
		padding:10px;
		border-radius:5px;
		border: 1px solid #D2D4CD;
		margin-bottom:5px;
		margin-top:15px;
		display : block;
}

form iframe {margin-top: 25px;max-width:100% !important;}
	
#conditionchk, #cataloguechk
	{
	
	padding-top : 10px;	
	margin-bottom: 10px;
	
	}
#globalchk
{
	text-align:center;
	margin:auto;
}
#global-footer
{
	margin: 0 auto;
	padding: 30px 5% ;
	background: #fff;
	width:95%;
	position: relative; 
	z-index: 4; 
	float:left;
	padding-right:0;
	
 
}
.ft
{
	
	float:left;
	margin-left: 5%;
	width: 15%;
}

.ft1
{
	
	float:left;
	margin-left: 18px;
	width: 15%;
}
.footer-titre
{
	font-weight: 400;
	color: #555; 
}

.footer-ligne {
	 padding:0;
	 list-style-type:none; 
 }
.footer-ligne li {
	 
	color: #00a1de;
	font-size: 13px;
	text-decoration: none;
	margin-left:2px;
	margin-top:8px; 
 }
.footer-ligne li a {
	margin-left:2px;
	margin-top:8px; 
	color: #00a1de;
	font-size: 13px;
	text-decoration: none;
 } 


#cnil-form{    
font-family: 'Open Sans', sans-serif;
font-weight:300;
font-size: 11px;
color: #575757;
text-align:justify;
overflow:hidden;
	
} 

#cnil a:link{
	text-decoration:none; 
	color: #00a1de;
}
#cnil a:visited{
	text-decoration:none; 
	color: #00a1de;
}
#cnil a:hover{
	text-decoration:none; 
	color: #00a1de;
}
#cnil a:active{
	text-decoration:none; 
	color: #00a1de;
}	


#cnil {
    float: left;
    margin-top: 38px;
    margin-left: 15px;
    padding-right: 20px;
    font-family: "Open Sans",sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #575757;
    text-align: justify;
}



.redText
{
	font-size:12px;
    color: red !important;
	text-align:left !important;
}

.hide
{
	display: none !important;
	
}
.show
{
	
	display : block !important;
}



.leftRecap{
	width:65%;
	float:left;
	font-weight:bold;
}

.centerRecap{
	width:22.5%;
	float:left;
}

.rightRecap{
	width:12.5%;
	float:left;
	font-weight:bold;
}
/*Responsive Phone */
@media screen and (max-width:767px)  {

#header
{
  position:relative;
  width : 100%; 
  z-index:999;
} 

#global-header
{
	position:relative;
	width:100%;
    margin: 0 auto;
}

#global-center
{
	width : 90%;
	margin: 15px 5% 0px;
	
}

#logo
{
	float: none;
    text-align: center;
    width: 100%; 
}
#logo img{
	 
  float: none;
  position: relative; 
  	margin-left:0px;
}

div #search, #navigation, #sousmenuCarrieres, #sousmenuSecteurs, #sousmenuServices {
display : none;
}


.left
{
	
	float:none !important;
	width:100% !important;
	margin-bottom : 10px;
	
	
}

.social-slide 
{
	margin :1% 2% !important; 
}
 
 
#global-left{

bottom: 0;
position: fixed;
padding: 5px 5px 0px 5px;
background: #fff;
opacity:0.9;
width: 100%;
z-index:999;
-webkit-box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
-moz-box-shadow: 0 -1px 4px rgba(0,0,0,0.15);
-o-box-shadow: 0 -1px 4px rgba(0,0,0,0.15);
box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15); 

}
 
#global-left center{
margin: 0px auto;
text-align: center;
width: 250px;
}


.twitter-hover{
 background-image: url(../img/twitter-hover-m.png);
 }
 .linkedin-hover{
 background-image: url(../img/linkedin-hover-m.png);
 }
 .facebook-hover{
 background-image: url(../img/facebook-hover-m.png);
 }
 .email-sprite-hover{
 background-image: url(../img/email-sprite-m.png);
 }
 .google-hover{
 background-image: url(../img/google-hover-m.png);
 }
 .plus-hover{
 background-image: url(../img/plus-hover-m.png);
 }
 .social-slide {
	height: 28px;
	width: 28px; 
}
.social-slide:hover {
	background-position: 0px -28px; 
}

#header-description h1, #header-description h2
{
font-size: 18px;
}


#left, #divleft,  #divleft1, #divright1, .leftRecap, .centerRecap, .rightRecap, #divtotal
{
	float:none;
	width:100%;
	margin : 0px;
	padding:0px;
}

#divright
{
	float:none;
	width:100%;
	margin : 15px 0px 0px 0px;
    padding:0px;
	
}
#left1
{
	
	float:none;
	width:100%;
	margin : 20px 0px 0px 0px;
	padding:0px;
	
}
form select, input[type=text]
{
	width:100%;

}
.footer-ligne{
	float:left;
}

.footer-ligne li{
display: inline-block;
margin: 0 0.3em 2em 0;
}

.ft,  .ft1
{
	margin:0px;
	padding:0px;
	width: 95%;
}


#blocContact 
{
    padding:3px;
	/*width: 99px;*/
}
}



@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
 {

#header
{
  position:relative;
  width : 100%; 
  z-index:999;
} 

#global-header
{
	position:relative;
	width:100%;
    margin: 0 auto;
}

#global-center
{
	width : 90%;
	margin: 15px 5% 0px;
	
}

#logo
{
	float: none;
    text-align: center;
    width: 100%; 
}
#logo img{
	 
  float: none;
  position: relative; 
  	margin-left:0px;
}

div #search, #navigation, #sousmenuCarrieres, #sousmenuSecteurs, #sousmenuServices {
display : none;
}




.left label
{
	
	margin-bottom : 10px;
	margin-top: 0px;
	height:auto !important;

}


.social-slide 
{
	margin :1% 2% !important; 
}
 
 
#global-left{

bottom: 0;
position: fixed;
padding: 5px 5px 0px 5px;
background: #fff;
opacity:0.9;
width: 100%;
z-index:999;
-webkit-box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
-moz-box-shadow: 0 -1px 4px rgba(0,0,0,0.15);
-o-box-shadow: 0 -1px 4px rgba(0,0,0,0.15);
box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15); 

}
 
#global-left center{
margin: 0px auto;
text-align: center;
width: 250px;
}


.twitter-hover{
 background-image: url(../img/twitter-hover-m.png);
 }
 .linkedin-hover{
 background-image: url(../img/linkedin-hover-m.png);
 }
 .facebook-hover{
 background-image: url(../img/facebook-hover-m.png);
 }
 .email-sprite-hover{
 background-image: url(../img/email-sprite-m.png);
 }
 .google-hover{
 background-image: url(../img/google-hover-m.png);
 }
 .plus-hover{
 background-image: url(../img/plus-hover-m.png);
 }
 .social-slide {
	height: 28px;
	width: 28px; 
}
.social-slide:hover {
	background-position: 0px -28px; 
}

#header-description h1, #header-description h2
{
font-size: 18px;
}


#left, #divleft,  #divleft1, #divright1, .leftRecap, .centerRecap, .rightRecap, #divtotal
{
	float:none;
	width:100%;
	margin : 0px;
	padding:0px;
}

#divright
{
	float:none;
	width:100%;
	margin : 15px 0px 0px 0px;
    padding:0px;
	
}
#left1
{
	
	float:none;
	width:100%;
	margin : 20px 0px 0px 0px;
	padding:0px;
	
}
form select, input[type=text]
{
	width:100%;

}
.footer-ligne{
	float:left;
}

.footer-ligne li{
display: inline-block;
margin: 0 0.3em 2em 0;
}

.ft,  .ft1
{
	margin:0px;
	padding:0px;
	width: 95%;
}


#blocContact 
{
    padding:3px;
	width: 99px;
}

}


@media screen and (min-width:768px) and (max-width:841px) {

.left label {
  
  
  min-height : 95px !important;
  display: block;
  font-size: 14px;
  line-height: 24px;
  color: #666;
  font-family: 'Open Sans',Arial,sans-serif;
  font-weight: bold;
}


}
@media screen and (min-width:842px) and (max-width:1229px) {

.left label {
  
  
  min-height : 72px !important;
  display: block;
  font-size: 14px;
  line-height: 24px;
  color: #666;
  font-family: 'Open Sans',Arial,sans-serif;
  font-weight: bold;
}


}
#success #btn-mobile{display:none;}
#linkedin_af_btn{/*margin-bottom:20px;background-color:#eaf0f9;border-radius:4px;padding:15px;*/text-align:center;opacity:1;}
#linkedin_af_btn p{margin:0px;padding:0px;margin-bottom:15px;}
#linkedin_af_btn iframe{height:35px !important;}


@media screen and (max-width: 575px){
#rc-imageselect, .g-recaptcha {transform:scale(0.8);-webkit-transform:scale(0.8);transform-origin:0 0;-webkit-transform-origin:0 0;}
#success object{display:none;}
#success #btn-mobile{display:block;}
#linkedin_af_btn iframe{transform:scale(0.65);-webkit-transform:scale(0.65);transform-origin:0 0;-webkit-transform-origin:0 0;}
}

